@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    min-height: 50vh;
    margin-bottom: 2rem;
}

/* hero styling */
.hero {
    background: hsl(193, 100%, 96%) url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: .7rem .3rem;
}

.hero .logo {
    max-width: 50%;
}

.btn {
    padding: .5rem 1.5rem;
    background-color: #fff;
    border: none;
    border-radius: 3rem;
    box-shadow: 1px 1px 2px #888888;
}

.btn:hover {
  cursor: pointer; 
  opacity: .8; 
}

.main__hero {
    text-align: center;
    margin: 2rem;
}

.section-header{
    font-family: 'Poppins' ,sans-serif;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.pink-btn {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    padding: 1rem 3rem;
    margin: 2rem 0 3rem 0;
    border: none;
    border-radius: 2rem;
}

.pink-btn:hover {
    cursor: pointer;
    opacity: .8;
}

/* card styling */
.grow__together,
.flowing__conversations,
.your__users,
.call-to-action {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 90%;
    min-height: max-content;
    margin: 0 auto;
    border-radius: .5rem;
}

.card {
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.call-to-action {
    position: relative;
    max-width: 100%;
    width: 90%;
    background-color: #fff;
    color: #000;
    border-radius: 0.6rem;
    margin-top: 10rem;
    margin-bottom: -6.6rem;
    text-align: center;
    font-weight: 700;
}

/* footer styling */
footer {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 7rem 0 1rem 0;
    margin: 0;

}

footer .container {
    width: 100%;
}


footer .logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    margin: 1rem;

}

.contact__details div {
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
}

.contact__details div img {
    margin-top: .4rem;
    margin-right: 1rem;
}

.footer-links li {
   margin: .6rem;
}

.footer-links li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.socials {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-brands {
    padding: .5rem;
    margin: .5rem auto;
    border: 1px solid white;
    border-radius: 50%;

}

.fa-brands:hover{
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);

}

.copyright {
    text-align: center;
    margin-top: 2rem;
}

/* larger screens */
@media (min-width: 700px) {
    .container {
        width: 95%;
        max-width: 1400px;
    }

    .hero {
        background: hsl(193, 100%, 96%) url(images/bg-hero-desktop.svg);
        padding: 1rem;
    }

    .main__hero .section-text{
       width: 45%;
       text-align: start;
    }

    .main__hero .section-haeder{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 600;
    }

    .main__hero .section-header span{
       display: block;
    }

    .hero-img {
        width: 50%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        text-align: start;
    }

    .card-img {
        width: 40%;
    }

    .section-text {
        width: 50%;
    }

    .grow__together,
    .flowing__conversations,
    .your__users {
        width: 90%;
        margin-bottom: 2rem;
    }

    .your__users .card,
    .grow__together .card {
        display: flex;
        flex-direction: row-reverse;
    }

    .call-to-action {
        width: 50%;
        text-align: center;
        padding: 2rem;
    }

    .call-to-action .pink-btn {
        margin-bottom: .5rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .div1 {
        width: 40%;
    }

    .div2 {
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .div2 li,
    .div3 li {
        margin: 1rem;
    }

    .socials {
        width: 15%;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -4rem;
    }

    .copyright {
        text-align: end;
    }

}